* { padding: 0; margin: 0; }


body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 18px;
    color:White;
    background: #1D4350;
    background: -webkit-linear-gradient(#A43931,#1D4350); 
    background: -o-linear-gradient(#A43931,#1D4350);
    background: -moz-linear-gradient(#A43931,#1D4350);
    background:linear-gradient(#A43931,#1D4350);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

body h2{
    padding-top: 50px;
}

button{
    border:0px;
}


/* Header Section */



header{
    font-size:1.5em;
    text-align:center;
    background-image: url(/img/headerImg.jpg);
    height:5.6em;
    background-repeat: no-repeat;
    background-size:cover;
}

header h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



/* Navigation Bar Section */



#nav {
    background-color: #222;
}
#nav_wrapper {
    font-size:1.25em;
    height:2.5em;
    margin: 0 auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background-color: #333;
}

#nav ul li a.active-page{
    text-decoration: underline;
}

#nav ul li a, visited {
    color: #CCC;
    display: block;
    padding: 0.833em;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #222;
    border-top: 0;
    margin-left: -5px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
}



#middle{
    margin-left: 10%;
    margin-right: 10%;
}


/* Contact Form Section */



#contactform{
    margin-bottom: 5.6em;
    padding-top: 2.7em;
    padding-bottom: 2.7em;
}

button{
    width:5.6em;
    height:1.4em;
}



/* Footer */



footer{
    text-align: center;
    background-image: url(/img/low_contrast_linen_@2X.png);
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom:.84em;
    padding-top: .84em;
    padding-left: .84em;
    color: #FFFFFF;
    font-family: 'Shift', sans-serif;
    bottom: 0;
}

.footerList{
    display: inline-block;
    
    
}

.footerList ul{
    padding:15px 50px 50px 50px;
    list-style: none;
}

.footerList ul li a{
    color:white;
    text-decoration: none;
}

.footerList ul li a:hover{
    opacity:.5;
    text-decoration: underline;
}


/* Copyright Section */


#copyright {
    font-size: 0.78em;
    font-family:monospace;
    position: center;
    text-align: center;
}

#copyright a{
    text-decoration:none;
    color: cornflowerblue;
}

#copyright a:hover{
    opacity:.5;
    text-decoration: underline;
}


/* Media Queries, none on the others after conversion to em */

@media all and (max-width: 599px) and (min-width: 320px) {/* phones */
    body{
        background: #1D4350;
        font-size: 0.5em;
    }
    
    @media screen and (device-width: 601px) and (device-height: 906px){ /* tablets */
        
    } 
    
    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px){/* giant pcs */
        
        
    } 
}