html {
    position: relative;
    min-height: 100%;
}

body {
    background: url("/imgs/witewall_3_@2X.png");
    background-repeat: repeat;
    padding-bottom: 12em;
    font-size: 1.5em;
}

.PS{
    font-family: 'Playfair Display', serif;
}

.Slabo{
    font-family: 'Slabo 13px', serif;
}

.big{
    font-size:5.666em;
}

.buttonDisplay{
    display: block;
    text-align: center;
}
.navbar {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12em;
    color: white;
    background-color: #222;
    background-size: cover;
}

.center {
    text-align: center;
}

.projectList{
    list-style: square;
}

.miniMargins{
        margin-top:20px;
    margin-bottom:20px;
}
.margins{
    margin-top:5%;
    margin-bottom: 5%;
}

.mainPoints {
    font-family: 'Slabo 13px', serif;
    list-style: none;
    padding: 0;
    margin-top: 0.825em;
    margin-bottom: 0.825em;
}

.mainPoints li {
    font-size: 1.25em;
    padding-top: 0.825em;
    padding-bottom: 0.825em;
}

.singleLink {
    display: block;
    text-align: center;
    font-size: 1.25em;
    margin-top: 0.825em;
    margin-bottom: 0.825em;
}

.noListStyle {
    padding: 0;
    list-style: none;
}

/*
* === TimeLine ===
*/

.container ul {
    margin: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    list-style: none;
    position: relative;

    color: black;
    font-size: 13px;
}

.container ul:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed #fff;
}

.container ul li {
    position: relative;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 14px;
    border-radius: 6px;
    width: 250px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.3);
}

.container ul li:not(:first-child) {
    margin-top: 60px;
}

.container ul li>span {
    width: 2px;
    height: 100%;
    background: #fff;
    left: -30px;
    top: 0;
    position: absolute;
}

.container ul li>span:before,
.container ul li>span:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    background: #86b7e7;
    left: -3px;
    top: 0;
}

.container ul li span:after {
    top: 100%;
}

.container ul li>div {
    margin-left: 10px;
}

.container div .title,
.container div .type {
    font-weight: 600;
    font-size: 12px;
}

.container div .info {
    font-weight: 300;
}

.container div>div {
}

.container span.number {
    height: 100%;
}

.container span.number span {
    position: absolute;
    font-size: 10px;
    left: -60px;
    font-weight: bold;
}

.container span.number span:first-child {
    top: 0;
}

.container span.number span:last-child {
    top: 100%;
}

/*
* === Bio/Images ===
*/

#imgCollage:before{
    border-left: none;
}

#imgCollage{
    list-style: none;
    display: block;
    text-align: center;
}

#imgCollage li{
    background: none;
    border:none;
    width:100px;
    display: inline-block;
    box-shadow: none;
}

#imgCollage li img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    
}


#imgCollage li:first-child img{
    height:150px;
    width: 150px;
}
#imgCollage li:first-child{
    top:-80px;
}

#imgCollage li:nth-child(2) img{
    height:110px;
    width: 110px;
}
#imgCollage li:nth-child(2){
    top:70px;
}

#imgCollage li:nth-child(3) img{
    height: 200px;
    width: 170px;
}

#imgCollage li:nth-child(3){
    top:-110px;
    left:-90px;
}

#imgCollage li:nth-child(4) img{
    height: 100px;
    width: 100px;
}

#imgCollage li:nth-child(4){
    top:-50px;
    left:-30px;
}

#imgCollage li:last-child img{
    height:80px;
    width: 80px;
}
#imgCollage li:last-child{
    top:52px;
    left:-240px;
    
}

.spacing{
    margin-bottom: 100px;
}

.zoomAnimation{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.zoomAnimation:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     display: block;
     margin:auto;
 }

@media (max-width: 785px){
    footer {
        height: 24em;
    }
    
    body {
    padding-bottom: 24em;
}
        

}

@media (min-width: 335px) and (max-width: 425px) {
    #imgCollage li:last-child{
        top:-120px;
        left:inherit;
    }
}
    

@media (max-width: 334px){
#imgCollage li:first-child{
    top:160px;
    left:-50px;
}
 #imgCollage li:nth-child(2){
    top:70px;
    left:60px;
}

#imgCollage li:nth-child(3){
    top:-110px;
    left:-110px;
}
    
#imgCollage li:nth-child(4){
    top:-270px;
    left:60px;
}
#imgCollage li:last-child{
    top:-360px;
    left:-40px;
    
}
}
    
