/* CSS-Tricks Bounce */
@keyframes bounce { 
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

* { padding: 0; margin: 0; }

body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 1.125em;
    max-width: 100%;
    max-height: 100%;
    color:White;
    background: #1D4350;
    background: -webkit-linear-gradient(#A43931,#1D4350); 
    background: -o-linear-gradient(#A43931,#1D4350);
    background: -moz-linear-gradient(#A43931,#1D4350);
    background:linear-gradient(#A43931,#1D4350);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


/* Animation Intro */


#animationIntro{
    font-family: Verdana, Geneva, sans-serif;
    width: 60%;
    height: 50%;

    position: absolute;
    top:50%;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#animationIntro h1{
    visibility: hidden;
}

#animationIntro ul{
    list-style: none;
    margin-top: 1.125em;
    visibility: hidden;
}

#animationIntro ul li{
    padding-top:1em;
    visibility: hidden;

}
#animationIntro ul li:nth-child(1){
    font-size:1.5em;
}
#animationIntro ul li:nth-child(2){
    font-size:1.25em;

    
}

#animationIntro li{
    padding-top:0.5em;
}


.splitter{
    visibility: hidden;
}


/* Header Section */


header{
    font-size:1.5em;
    text-align:center;
    background-image: url(/img/headerImg.jpg);
    height:4.6em;
    background-repeat: no-repeat;
    background-size:cover;
}

header h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* Navigation Bar */



#nav {
    background-color: #222;
}
#nav_wrapper {
    font-size:1.25em;
    height:2.5em;
    margin: 0 auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background-color: #333;
}

#nav ul li a.active-page{
    text-decoration: underline;
}

#nav ul li a, visited {
    color: #CCC;
    display: block;
    padding: 0.833em;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #222;
    border-top: 0;
    margin-left: -5px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
}


/* Banner Section */


#topBanner{
    font-size:2.3em;
    height:8em;
    margin-top:3em;
    margin-bottom:3em;
}

#topBanner a{
    text-decoration: none;
    color:cornflowerblue;
}

#topBanner a:hover{
    opacity:0.5;
    text-decoration: underline;
}



/* ListBox Section */




#middle{
    margin-left: 10%;
    margin-right: 10%;
}

#middle > p{
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: monospace;
}

#listboxWrapper{
    text-align: center;
    margin-bottom: 8.33em;
}
#listboxWrapper ul li{
    display: inline-block;
    list-style: none;
}

#listboxWrapper ul li:hover{
    animation:bounce 1s;
}

#listboxWrapper ul li a{
    display: inline-block;
    text-decoration: none;
    line-height: 2em;
    color:black;
}
.listbox{
    position:relative;
    margin-left: 2em;
    margin-right:2em;
    background: #f2f2f2;
    display: inline-block;
    width:11.111em;
    height: 11.111em;
    list-style: none;
    border-radius: 10px;
}

.listbox img{
    border-radius: 10px;
    width:100%;
    min-height: 7.83em;
}

/* Footer */

footer{
    text-align: center;
    background-image: url(/img/low_contrast_linen_@2X.png);
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom:.84em;
    padding-top: .84em;
    padding-left: .84em;
    color: #FFFFFF;
    font-family: 'Shift', sans-serif;
    bottom: 0;
}

.footerList{
    display: inline-block;
    
    
}

.footerList ul{
    padding:15px 50px 50px 50px;
    list-style: none;
}

.footerList ul li a{
    color:white;
    text-decoration: none;
}

.footerList ul li a:hover{
    opacity:.5;
    text-decoration: underline;
}


/* Copyright */



#copyright {
    font-size: 0.78em;
    font-family:monospace;
    position: center;
    text-align: center;
}

#copyright a{
    text-decoration:none;
    color: cornflowerblue;
}

#copyright a:hover{
    opacity:.5;
    text-decoration: underline;
}

#aboutMe{
    margin-bottom: 100px;
}

#aboutMe img{
    display:block;
    text-align: center;
    margin:0 auto;
    border-radius: 100px;
    width:150px;
    height:200px;
}

#aboutMe p{
    padding-top:50px;
    text-align: left;
    
}

/* Media Queries */

@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 0.5em;
    }