* { padding: 0; margin: 0; }


body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 1.125em;
    color:White;
    background: #1D4350;
    background: -webkit-linear-gradient(#A43931,#1D4350); 
    background: -o-linear-gradient(#A43931,#1D4350);
    background: -moz-linear-gradient(#A43931,#1D4350);
    background:linear-gradient(#A43931,#1D4350);
    height: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

button{
    border:0px;
}

/* Header */

header{
    font-size:1.5em;
    text-align:center;
    background-image: url(/img/headerImg.jpg);
    height:5.6em;
    background-repeat: no-repeat;
    background-size:cover;
}


header h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Navigation Bar */

#nav {
    background-color: #222;
}
#nav_wrapper {
    font-size:1.25em;
    height:2.5em;
    margin: 0 auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background-color: #333;
}

#nav ul li a.active-page{
    text-decoration: underline;
}

#nav ul li a, visited {
    color: #CCC;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #222;
    border-top: 0;
    margin-left: -5px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
}

/*Top Banner*/


#topBanner{
    font-size:2.3em;
    height:8em;
    margin-top:3em;
    margin-bottom:5em;
}

#middle{
    margin-left: 10%;
    margin-right: 10%;
}

/* Social Media List */

#socialMediaWrapper{
    padding-top:2.8em;
    padding-bottom: 0.5em;
}

#socialMediaWrapper li{
    display: inline-block;
    
}

#socialMediaWrapper a{
    display: inline-block;
    width:5.6em;
    height:1.4em;
    background:#c0c0c0;
    border:2px solid black;
    border-radius:5px;
    font-size:0.8em;
    text-decoration: none;
    color:#000;
    line-height:1.4em;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#socialMediaWrapper a:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#contact{
    padding:0;
    font-size:0.6em;
}

#contact li{
    display: inline;
    margin-right: 0.3em;
    margin-left: 0.3em;
}


/* About Me Section */

#aboutMe{
    margin-top: 5.6em;
    margin-bottom: 5.6em;
}

#aboutMe img{
    display:block;
    
    text-align: center;
    margin:0 auto;
    border-radius: 50px;
    width:6em;
    height:8em;
}

#aboutMe p{
    padding-top:50px;
    text-align: left;
    
}

#aboutMe a{
    text-decoration: none;
    color:cornflowerblue;
}

#aboutMe a:hover{
    opacity:.5;
    text-decoration: underline; 
}


/* Recent Projects Section */


#recentProjects{
    margin-bottom:2.8em;
}

#recentProjects img{
    max-width: 28em;
    
}

#recentProjects img:hover{
    opacity:.5;
}

#recentProjects h2, h3{
    padding-bottom: 2.8em;
}

#recentProjects a{
    padding-bottom: 2.8em;
    text-decoration:none;
    color:cornflowerblue;
    
}

#recentProjects a:hover{
    opacity:.5;
    text-decoration: underline;
}

.projectDesc{
    text-align: left;
}

.projectDesc h4,h3, ul{
    padding-top:2.8em;
    padding-bottom: 1.4em;
}

.projectDesc ul li{
    list-style: circle outside none;
    display: list-item;
    margin-left: 1em;
}

.imgSources{
    display:none;
}


/* Terms and Condition */


#terms{
    font-family: "Helvetica Neue",sans-serif;
    color:black;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 20px 20px 20px;
}

#terms h1, h2{
    padding-bottom: 20px;
    padding-top:20px;
}

/* Footer */

footer{
    text-align: center;
    background-image: url(/img/low_contrast_linen_@2X.png);
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom:.84em;
    padding-top: .84em;
    padding-left: .84em;
    color: #FFFFFF;
    font-family: 'Shift', sans-serif;
    bottom: 0;
}

.footerList{
    display: inline-block;
    
    
}

.footerList ul{
    padding:15px 50px 50px 50px;
    list-style: none;
}

.footerList ul li a{
    color:white;
    text-decoration: none;
}

.footerList ul li a:hover{
    opacity:.5;
    text-decoration: underline;
}


/* Copyright Section */


#copyright {
    font-size: 0.78em;
    font-family:monospace;
    position: center;
    text-align: center;
}

#copyright a{
    text-decoration:none;
    color: cornflowerblue;
}

#copyright a:hover{
    opacity:.5;
    text-decoration: underline;
}
